<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crowdquarter.drinkcaptain"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAdIaLiI466yefl0MjUpr-IhFAlUR2F1jg" />

        <activity android:name="MainMenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ProductListActivity" >
        </activity>
        <activity android:name="RecommendListActivity" >
        </activity>
        <activity android:name="ProductInfoActivity" >
        </activity>
        <activity android:name="ShoppingCartActivity" >
        </activity>
        <activity android:name="CheckoutActivity" >
        </activity>
        <activity android:name="MapActivity" >
        </activity>
    </application>

</manifest>