<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
		  <rules>
		    <rule name="API Dispatcher 1">
		      <match url="^api/recommendproduct/([0-9]+)/([0-9]+)/([0-9]+)$" />
		      <action type="Rewrite" url="/API/apiDispatcher.php?action=GetRecommendProduct&amp;w={R:1}&amp;mc={R:2}&amp;pc={R:3}" />
		    </rule>
		    <rule name="API Dispatcher 2">
		      <match url="^api/productcategories$" />
		      <action type="Rewrite" url="/API/apiDispatcher.php?action=GetProductCategory" />
		    </rule>
		    <rule name="API Dispatcher 3">
		      <match url="^api/product/([0-9]+)" />
		      <action type="Rewrite" url="/API/apiDispatcher.php?action=GetProductDetail&amp;id={R:1}" />
		    </rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>